<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interchanger_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{536,0},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_block_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,205}</string>
                <key>spriteSourceSize</key>
                <string>{347,205}</string>
                <key>textureRect</key>
                <string>{{639,82},{347,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{243,82},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_dialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,363}</string>
                <key>spriteSourceSize</key>
                <string>{732,363}</string>
                <key>textureRect</key>
                <string>{{56,289},{732,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_dialog_border_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,262}</string>
                <key>spriteSourceSize</key>
                <string>{54,262}</string>
                <key>textureRect</key>
                <string>{{0,289},{54,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_dialog_bottom_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,84}</string>
                <key>spriteSourceSize</key>
                <string>{241,84}</string>
                <key>textureRect</key>
                <string>{{0,82},{241,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_dialog_congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,25}</string>
                <key>spriteSourceSize</key>
                <string>{480,25}</string>
                <key>textureRect</key>
                <string>{{6,0},{480,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_dialog_team_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,146}</string>
                <key>spriteSourceSize</key>
                <string>{130,146}</string>
                <key>textureRect</key>
                <string>{{507,82},{130,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_dialog_wing_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{768,0},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_firewall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{411,82},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_interchanger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{682,0},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{41,49}</string>
                <key>textureRect</key>
                <string>{{594,0},{41,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_line_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_pc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{637,0},{43,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_server_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{512,0},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>permeate_server_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{488,0},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>permeate_img_all.png</string>
            <key>size</key>
            <string>{986,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10f14ef3ea1be7300d25a3e1dcf40d10:59e5dd12c31252c305671e704a10de6d:713857574ee2e14ec14e6d553de0a758$</string>
            <key>textureFileName</key>
            <string>permeate_img_all.png</string>
        </dict>
    </dict>
</plist>
